@model UserStatsModel

<div class="d-flex flex-column gap-2">
    <div class="d-flex gap-2">
        <p class="m-0 text-secondary">Posts:</p>
        <small>@Model.TotalPostsCount.ToString()</small>
    </div>
    <div class="d-flex gap-2">
        <p class="m-0 text-secondary">Replies:</p>
        <small>@Model.TotalRepliesCount.ToString()</small>
    </div>
    <div class="d-flex gap-2">
        <p class="m-0 text-secondary">Joined On:</p>
        <small>@Model.JoinedOn.ToShortDateString()</small>
    </div>
</div>