@page "/Posts/Create/{forumId:int}"
@using NETForum.Pages.Shared.Components.TinyMceEditor
@model NETForum.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Create Post";
    var mceEditorModel = new TinyMceEditorModel()
    {
        EditorId = "thread-content"
    };
}

@section Scripts {
    @await Component.InvokeAsync("TinyMceEditor", mceEditorModel)
    <partial name="_ValidationScriptsPartial" />
}

<div asp-validation-summary="All"></div>
<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <p class="m-0">Create Post</p>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <!-- Hidden Inputs: Values are assigned in OnGet() -->
                        <input type="hidden" asp-for="CreatePostDto.ForumId" />
                        <input type="hidden" asp-for="CreatePostDto.IsLocked" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatePostDto.Title">Title</label>
                        <input asp-for="CreatePostDto.Title" class="form-control" type="text" />
                        <span class="text-danger" asp-validation-for="CreatePostDto.Title"></span>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-check">
                            <label asp-for="CreatePostDto.IsPinned">Pinned</label>
                            <input asp-for="CreatePostDto.IsPinned" class="form-check-input" type="checkbox" />
                            <span class="text-danger" asp-validation-for="CreatePostDto.IsPinned"></span>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-check">
                            <label asp-for="CreatePostDto.Published">Published</label>
                            <input asp-for="CreatePostDto.Published" class="form-check-input" type="checkbox" />
                            <span class="text-danger" asp-validation-for="CreatePostDto.Published"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatePostDto.Content">Content</label>
                        <textarea asp-for="CreatePostDto.Content" class="form-control" id="thread-content" rows="10"></textarea>
                        <span class="text-danger" asp-validation-for="CreatePostDto.Content"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>