@page "{id:int}"
@model EditModel

@{
    ViewData["Title"] = "Edit Forum";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="row mt-2">
    <div class="col">
        <div class="p-4 border rounded-0">
            <h2>Edit Forum</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post">
                <div class="form-group">
                    <label asp-for="EditForumDto.Name">Name</label>
                    <input asp-for="EditForumDto.Name" class="form-control"/>
                    <span asp-validation-for="EditForumDto.Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <div class="form-check">
                        <label asp-for="EditForumDto.Published">Published</label>
                        <input asp-for="EditForumDto.Published" class="form-check-input" type="checkbox"/>
                        <span class="text-danger" asp-validation-for="EditForumDto.Published"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EditForumDto.CategoryId">Category Id</label>
                    <select asp-for="EditForumDto.CategoryId" class="form-select">
                        <option value="" disabled selected>Select A Parent Forum</option>
                        @foreach (var category in Model.CategorySelectListItems)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="EditForumDto.ParentForumId">Parent Forum</label>
                    <select asp-for="EditForumDto.ParentForumId" class="form-select">
                        @if (Model.ParentForumSelectListItems != null)
                        {
                            <option value="" disabled selected>Select A Parent Forum</option>
                            @foreach (var forum in Model.ParentForumSelectListItems)
                            {
                                <option value="@forum.Value">@forum.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="EditForumDto.Description">Description</label>
                    <input asp-for="EditForumDto.Description" class="form-control"/>
                    <span class="text-danger" asp-validation-for="EditForumDto.Description"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
            </form>
        </div>
    </div>
</div>