@page "/Category/{id:int}/Edit"
@model NETForum.Pages.Category.EditModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = "Edit Category";
}

<div class="row mt-2">
    <div class="col">
        <div class="p-4 border rounded-0">
            <h2>Edit Category</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post">
                <div class="form-group mt-2">
                    <div class="form-check">
                        <label asp-for="Form.Published">Published</label>
                        <input asp-for="Form.Published" class="form-check-input" type="checkbox" />
                        <span class="text-danger" asp-validation-for="Form.Published"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Form.Name">Name</label>
                    <input asp-for="Form.Name" class="form-control" />
                    <span asp-validation-for="Form.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Form.Description">Description</label>
                    <input asp-for="Form.Description" class="form-control" />
                    <span asp-validation-for="Form.Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Form.SortOrder">Sort Order</label>
                    <input asp-for="Form.SortOrder" class="form-control" type="number" />
                    <span asp-validation-for="Form.SortOrder"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Create</button>
            </form>
        </div>
    </div>
</div>