@page
@model NETForum.Pages.Account.Register.IndexModel

@{
    ViewData["Title"] = "Register";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="row mt-2">
    <div class="col">
        <div class="p-4 border rounded-0">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h2 class="text-secondary">Register Now!</h2>
            <hr />
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="UserRegistrationDto.Username" class="form-label">Username</label>
                    <input asp-for="UserRegistrationDto.Username" class="form-control" />
                    <span asp-validation-for="UserRegistrationDto.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserRegistrationDto.Email" class="form-label">Email</label>
                    <input asp-for="UserRegistrationDto.Email" type="email" class="form-control" />
                    <span asp-validation-for="UserRegistrationDto.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserRegistrationDto.Password" class="form-label">Password</label>
                    <input asp-for="UserRegistrationDto.Password" type="password" class="form-control" />
                    <span asp-validation-for="UserRegistrationDto.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserRegistrationDto.ConfirmPassword" class="form-label">Confirm Password</label>
                    <input asp-for="UserRegistrationDto.ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="UserRegistrationDto.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUserProfileDto.ProfileImage">Profile Image</label>
                    <input asp-for="CreateUserProfileDto.ProfileImage" type="file" class="form-control" accept="image/*"/>
                    <span asp-validation-for="CreateUserProfileDto.ProfileImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUserProfileDto.Bio" class="form-label">Bio</label>
                    <textarea asp-for="CreateUserProfileDto.Bio" class="form-control"></textarea>
                    <span asp-validation-for="CreateUserProfileDto.Bio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUserProfileDto.Signature" class="form-label">Signature</label>
                    <textarea asp-for="CreateUserProfileDto.Signature" class="form-control"></textarea>
                    <span asp-validation-for="CreateUserProfileDto.Signature" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUserProfileDto.Location">Location</label>
                    <input asp-for="CreateUserProfileDto.Location" class="form-control" />
                    <span asp-validation-for="CreateUserProfileDto.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUserProfileDto.DateOfBirth">Date of Birth</label>
                    <input asp-for="CreateUserProfileDto.DateOfBirth" type="date" class="form-control" />
                    <span asp-validation-for="CreateUserProfileDto.DateOfBirth" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Register</button>
            </form>
        </div>
    </div>
</div>