@page
@model NETForum.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="row mt-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Forums</h5>
                <a asp-page="/Forums" class="btn btn-primary">Visit</a>
                <a asp-page="/Admin/Forums/Index" class="btn btn-secondary">Manage</a>
                <a asp-page="/Admin/Forums/Hierarchy" class="btn btn-primary">Change Hierarchy</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Posts</h5>
                <a asp-page="/Posts/Index" class="btn btn-primary">Visit</a>
                @if(User.Identity is { Name: not null })
                {
                    <a class="btn btn-primary" asp-page="/Posts/User" asp-route-username="@User.Identity.Name">Your Posts</a>
                } 
                <a asp-page="/Manage/Posts" class="btn btn-secondary">Manage</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <a asp-page="/Admin/Users" class="btn btn-secondary">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Roles</h5>
                <a asp-page="/Admin/Roles" class="btn btn-secondary">Manage</a>
            </div>
        </div>
    </div>
</div>