name: .NETForum Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Run Unit Tests
        run: dotnet test NETForum.UnitTests/NETForum.UnitTests.csproj --no-build --configuration Release --verbosity normal
        
      - name: Run Integration Tests
        run: dotnet test NETForum.IntegrationTests/NETForum.IntegrationTests.csproj --no-build --configuration Release --verbosity normal